<mat-toolbar class="footer" style="margin: 0; padding: 0;">
  <div class="footer-content">
    <span class="copyrights">
      © BK Conference Team 2024
    </span>
    <span class="icons-container">
      <button mat-icon-button aria-label="Instagram link" (click)="this.openLink('https://www.instagram.com/bk_konf/')">
        <img class="image" src="assets/icon/socialmedia/instagram.svg" alt="Instagram">
      </button>
      <button mat-icon-button aria-label="Facebook link" (click)="this.openLink('https://www.facebook.com/bkkonf')">
        <mat-icon>facebook</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>
