<app-registration-details-popup>
  <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography dialog-font dialog-content-container">
      <div class="editable-info">
        <p>
          <mat-slide-toggle formControlName="fullAmountPayed" labelPosition="before" color="primary">
            {{ 'bk.admin.panel.table.fullAmountPayed' | translate }}
          </mat-slide-toggle>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'bk.registeredUsers.details.additionalInfo' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="additionalComments" appAutoResize></textarea>
          </mat-form-field>
        </p>

        <p class="question-text">{{ 'bk.registeredUsers.details.registrationDate' | translate }}</p>
        <p>{{ dateService.presentDateTime(DateTime.fromISO(data.creationTimestamp)) }}</p>

        <p class="question-text">{{ 'bk.registeredUsers.details.lastModificationDate' | translate }}</p>
        <p>{{ dateService.presentDateTime(DateTime.fromISO(data.lastModificationTimestamp)) }}</p>

        <p class="question-text" *ngIf="data.lastModificationUser">{{ 'bk.registeredUsers.details.lastModifiedUser' | translate }}</p>
        <p>{{ data.lastModificationUser }}</p>
      </div>

      <p class="question-text">{{ 'registration.staff.question1' | translate }}</p>
      <p>{{ data.question1 }}</p>

      <p class="question-text">{{ 'registration.staff.question2' | translate }}</p>
      <p>{{ data.question2 }}</p>

      <p class="question-text">{{ 'registration.staff.question3' | translate }}</p>
      <p>{{ data.question3 }}</p>

      <p class="question-text">{{ 'registration.staff.question4' | translate }}</p>
      <p>{{ findMatchingKey(select_genders, data.question4) | translate }}</p>

      <p class="question-text">{{ 'registration.staff.question5' | translate }}</p>
      <p>{{ data.question5 }}</p>

      <p class="question-text">{{ 'registration.staff.question6' | translate }}</p>
      <p>{{ dateService.presentDate(DateTime.fromISO(data.question6)) }}</p>

      <p class="question-text">{{ 'registration.staff.question7' | translate }}</p>
      <p>{{ findMatchingKey(select_area_of_serve, data.question7) | translate }}</p>

      <p class="question-text">{{ 'registration.staff.question8' | translate }}</p>
      <p>{{ findMatchingKey(select_known_languages, data.question8) | translate }}</p>

      <p class="question-text">{{ 'registration.staff.question9' | translate }}</p>
      <p>{{ data.question9 }}</p>

      <p class="question-text">{{ 'registration.staff.question10' | translate }}</p>
      <p>{{ data.question10 }}</p>

      <p class="question-text">{{ 'registration.staff.question11' | translate }}</p>
      <p>{{ data.question11 }}</p>

      <p class="question-text">{{ 'registration.staff.question12' | translate }}</p>
      <p>{{ data.question12 }}</p>

      <p class="question-text">{{ 'registration.staff.question13' | translate }}</p>
      <p>{{ data.question13 }}</p>

      <p class="question-text">{{ 'registration.staff.question14' | translate }}</p>
      <p>{{ data.question14 }}</p>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <div class="button-wrapper dialog-actions">
        <button *ngIf="!loading" mat-raised-button color="primary" class="action-button" [mat-dialog-close]="true" cdkFocusInitial>
          {{ 'bk.conferenceDetails.close' | translate }}
        </button>
        <mat-spinner *ngIf="loading" class="spinner" [diameter]="30"></mat-spinner>
        <button *ngIf="!loading" mat-raised-button color="accent" class="action-button" type="submit">
          {{ 'bk.registeredUsers.details.save' | translate }}
        </button>
      </div>
    </mat-dialog-actions>

  </form>
</app-registration-details-popup>
