@import "src/app/_shared-components/dialog/dialog.component.scss";

.dialog-container {
  max-width: 700px;
}

.question-text {
  font-weight: bold;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.action-button, .spinner {
  flex: 1;
}

.button-wrapper {
  width: 100%;
  margin: 10px;
}

.editable-info {
  margin-bottom: 40px;
}
