<div #supportUsContainer class="support-us-container">
  <div class="support-us-row">
    <div class="support-us-column support-us-text-column">
      <p class="support-us-text">
        {{ 'bk.supportUs.generalInfo1' | translate }}<br/><br/>

        {{ 'bk.supportUs.generalInfo2a' | translate }}
        <b>{{ 'bk.supportUs.generalInfo2b' | translate }}</b>
        {{ 'bk.supportUs.generalInfo2c' | translate }}

        <br/><br/>

        {{ 'bk.supportUs.generalInfo3a' | translate }}
        <b>{{ 'bk.supportUs.generalInfo3b' | translate }}</b>
        {{ 'bk.supportUs.generalInfo3c' | translate }}
      </p>
    </div>
    <div class="support-us-column support-us-image-column">
      <img class="bk-border-element" src="assets/images/gallery/17.jpg"
           alt="Support us image" height="450" width="600">
    </div>
  </div>
  <h1>{{ 'bk.supportUs.supportUsHeader' | translate }}</h1>
</div>
<div class="account-info">
  <div>
    <p class="account-info-filed-name">
      {{ 'bk.supportUs.receiverOfTransactionName' | translate }}
    </p>
    <p class="account-info-filed-value">
      {{ 'bk.supportUs.receiverOfTransaction1' | translate }} - {{ 'bk.supportUs.receiverOfTransaction2' | translate }}
    </p>
  </div>

  <div>
    <p class="account-info-filed-name">
      {{ 'bk.supportUs.titleOfTransactionName' | translate }}
    </p>
    <p class="account-info-filed-value">
      {{ 'bk.supportUs.titleOfTransaction' | translate }}
    </p>
  </div>

  <div>
    <p class="account-info-filed-name">
      {{ 'bk.supportUs.accountOfTransactionName' | translate }}
    </p>
    <p class="account-info-filed-value" style="margin-bottom: 0;">
      {{ 'bk.supportUs.accountOfTransaction' | translate }}
    </p>
  </div>
</div>
