@import "src/styles.scss";

.support-us-container {
  position: relative;
  margin-top: 80px;

  .support-us-row {
    display: flex;

    .support-us-column {
      flex: 1; // Equal width columns
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      img {
        width: 100%; // Ensures the image is responsive
        height: auto;
      }
    }

    .support-us-text-column {
      margin-top: 80px;
    }
  }

  h1 {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    text-align: center;
    color: $bk-yellow-color; // You can adjust the color based on your design needs
    padding: 10px 0;
    font-size: 3rem;
    transform: translateY(-50%); // Adjust vertical position to better align with design needs
  }
}

.account-info-filed-name {
  margin-bottom: 0;
}

.account-info-filed-value {
  font-family: 'NeueHaasDisplayBold', cursive;
}

.account-info {
  font-size: 2rem;
  padding: 0 10px;
}

@media (max-width: 650px) and (min-width: 481px) {
  .account-info {
    font-size: 1.2rem;
  }
  .support-us-image-column {
    display: none !important;
  }
  .support-us-text-column {
    flex: 1 0 100%; // This makes the text column take the full width
  }
}

@media (max-width: 480px) {
  .account-info {
    font-size: 1.2rem;
  }
  .support-us-image-column {
    display: none !important;
  }
  .support-us-text-column {
    flex: 1 0 100%; // This makes the text column take the full width
  }
  .support-us-text {
    margin-top: 30px;
  }
}
