<app-registration>

  <mat-card-title>
    <h1><b>{{ 'bk.registration.registerTitleAdult' | translate }}</b></h1>
    <h3 class="registration-dates">{{ 'registration.dateName' | translate }} {{ 'registration.date' | translate }}</h3>
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="!environment.production" class="alert alert-warning" role="alert" style="margin-bottom: 30px;">
      {{ 'bk.nonProdMode.warning' | translate }}
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <p class="question-text">
        {{ 'registration.adult.question1' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question1" required>
          <mat-error>{{this.getErrorMessage('question1')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question2' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question2" required>
          <mat-error>{{this.getErrorMessage('question2')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question3' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question3" required>
          <mat-error>{{this.getErrorMessage('question3')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question4' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question4" required>
          <mat-error>{{this.getErrorMessage('question4')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question5' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput formControlName="question5" type="text" required>
          <mat-error>{{this.getErrorMessage('question5')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question6' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'datePicker.chooseDate' | translate }}</mat-label>
          <input matInput [matDatepicker]="datePicker" formControlName="question6"
                 placeholder="{{ 'datePicker.formatHint' | translate }}" readonly required>
          <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-error>{{this.getErrorMessage('question6')}}</mat-error>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question7' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="number" formControlName="question7" required>
          <mat-error>{{this.getErrorMessage('question7')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question8' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question8" required>
          <mat-error>{{this.getErrorMessage('question8')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question9' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.enterEmail' | translate }}</mat-label>
          <input matInput formControlName="question9" type="email" placeholder="{{ 'registration.exampleEmail' | translate }}" required>
          <mat-error>{{this.getErrorMessage('question9')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question10' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput formControlName="question10" type="text" required>
          <mat-error>{{this.getErrorMessage('question10')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question11' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question11" required>
          <mat-error>{{this.getErrorMessage('question11')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question12' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question12" required>
          <mat-error>{{this.getErrorMessage('question12')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question13' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <textarea matInput type="text" formControlName="question13" required appAutoResize></textarea>
          <mat-error>{{this.getErrorMessage('question13')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question14' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question14" required>
          <mat-error>{{this.getErrorMessage('question14')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question15' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question15" required>
          <mat-error>{{this.getErrorMessage('question15')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question16' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question16" required>
          <mat-error>{{this.getErrorMessage('question16')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question17' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question17" required>
          <mat-error>{{this.getErrorMessage('question17')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question18' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question18" required>
          <mat-error>{{this.getErrorMessage('question18')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.adult.question19' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question19" required>
          <mat-error>{{this.getErrorMessage('question19')}}</mat-error>
        </mat-form-field>
      </p>

      <div>
        <mat-card-actions align="end" style="padding-left: 0; padding-right: 0;">
          <button *ngIf="!loading" mat-flat-button type="submit" color="primary" class="register-button">
            {{ 'bk.registration.registerButton' | translate }}
          </button>
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </mat-card-actions>
      </div>

    </form>
  </mat-card-content>

</app-registration>
