<app-registration>

  <mat-card-title>
    <h1 id="fullHeader" class="main-header"><b>{{ 'bk.registration.registerTitleStaff' | translate }}</b></h1>
    <h1 id="shortHeader" class="main-header"><b>{{ 'bk.registration.registerTitleStaffShort' | translate }}</b></h1>
    <div class="paper-note">
      <h5 class="description-first-header">{{ 'bk.registration.staff.quote1' | translate }}</h5>
      <h5 class="description-header">{{ 'bk.registration.staff.quote2' | translate }}</h5>
      <h5 class="description-header">
        {{ 'bk.registration.staff.quote3a' | translate }}
        <b>{{ 'bk.registration.staff.quote3b' | translate }}</b>
        {{ 'bk.registration.staff.quote3c' | translate }}
      </h5>
      <h5 class="description-header">{{ 'bk.registration.staff.quote4' | translate }}</h5>
      <h5 class="description-header">{{ 'bk.registration.staff.quote5' | translate }}</h5>
      <h5 class="description-header">
        {{ 'bk.registration.staff.quote6a' | translate }}
        <b>{{ 'bk.registration.staff.quote6b' | translate }}</b>
        {{ 'bk.registration.staff.quote6c' | translate }}
      </h5>
      <h5 class="description-header">{{ 'bk.registration.staff.quote7' | translate }}</h5>
      <h5 class="description-header">{{ 'bk.registration.staff.quote8' | translate }}</h5>
    </div>
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="!environment.production" class="alert alert-warning" role="alert" style="margin-bottom: 30px;">
      {{ 'bk.nonProdMode.warning' | translate }}
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <p class="question-text">
        {{ 'registration.staff.question1' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question1" required>
          <mat-error>{{this.getErrorMessage('question1')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question2' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.enterEmail' | translate }}</mat-label>
          <input matInput formControlName="question2" type="email" placeholder="{{ 'registration.exampleEmail' | translate }}" required>
          <mat-error>{{this.getErrorMessage('question2')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question3' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question3" required>
          <mat-error>{{this.getErrorMessage('question3')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question4' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <mat-select formControlName="question4" required>
            <mat-option>{{ 'registration.select.noOptionSelected' | translate }}</mat-option>
            @for (elem of select_genders; track elem) {
              <mat-option [value]="elem.value">{{ elem.viewKey | translate }}</mat-option>
            }
          </mat-select>
          <mat-error>{{this.getErrorMessage('question4')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question5' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput formControlName="question5" type="text" required>
          <mat-error>{{this.getErrorMessage('question5')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question6' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'datePicker.chooseDate' | translate }}</mat-label>
          <input matInput [matDatepicker]="datePicker" formControlName="question6"
                 placeholder="{{ 'datePicker.formatHint' | translate }}" readonly required>
          <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-error>{{this.getErrorMessage('question6')}}</mat-error>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question7' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <mat-select formControlName="question7" required>
            <mat-option>{{ 'registration.select.noOptionSelected' | translate }}</mat-option>
            @for (elem of select_area_of_serve; track elem) {
              <mat-option [value]="elem.value">{{ elem.viewKey | translate }}</mat-option>
            }
          </mat-select>
          <mat-error>{{this.getErrorMessage('question7')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question8' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <mat-select formControlName="question8">
            <mat-option>{{ 'registration.select.noOptionSelected' | translate }}</mat-option>
            @for (elem of select_known_languages; track elem) {
              <mat-option [value]="elem.value">{{ elem.viewKey | translate }}</mat-option>
            }
          </mat-select>
          <mat-error>{{this.getErrorMessage('question8')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question9' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput formControlName="question9" type="text" required>
          <mat-error>{{this.getErrorMessage('question9')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question10' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput formControlName="question10" type="text" required>
          <mat-error>{{this.getErrorMessage('question10')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question11' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question11" required>
          <mat-error>{{this.getErrorMessage('question11')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question12' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <textarea matInput type="text" formControlName="question12" required appAutoResize></textarea>
          <mat-error>{{this.getErrorMessage('question12')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question13' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <textarea matInput type="text" formControlName="question13" required appAutoResize></textarea>
          <mat-error>{{this.getErrorMessage('question13')}}</mat-error>
        </mat-form-field>
      </p>

      <p class="question-text">
        {{ 'registration.staff.question14' | translate }}
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'registration.fillField' | translate }}</mat-label>
          <input matInput type="text" formControlName="question14" required>
          <mat-error>{{this.getErrorMessage('question14')}}</mat-error>
        </mat-form-field>
      </p>

      <div>
        <mat-card-actions align="end" style="padding-left: 0; padding-right: 0;">
          <button *ngIf="!loading" mat-flat-button type="submit" color="primary" class="register-button">
            {{ 'bk.registration.registerButton' | translate }}
          </button>
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </mat-card-actions>
      </div>

    </form>
  </mat-card-content>

</app-registration>
