<app-statue>

  <mat-card-title>
    <h1><b>{{ 'bk.statue.youngHeader' | translate }}</b></h1>
    <h3 class="registration-dates">{{ 'registration.dateName' | translate }} {{ 'registration.date' | translate }}</h3>
  </mat-card-title>

  <mat-card-content>

    <p class="statement">
      {{ 'bk.statue.young.statement1' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement2' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement3' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement4' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement5' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement6' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement7' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement8' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement9' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement10' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement11' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement12' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement13' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement14' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement15' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement16' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement17' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement18' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement19' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement20' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement21' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement22' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement23' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement24' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement25' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement26' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement27' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement28' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.young.statement29' | translate }}
    </p>

  </mat-card-content>

</app-statue>
