<p class="settings-element">
  <mat-slide-toggle *ngIf="this.registrationEnabled !== null" color="primary"
                    [(ngModel)]="this.registrationEnabled"
                    (change)="openConfirmEnableRegistrationDialog($event)"
                    labelPosition="before">
    @if (this.registrationEnabled) {
      {{ 'bk.admin.panel.settings.registrationEnabled' | translate }}
    } @else {
      {{ 'bk.admin.panel.settings.registrationDisabled' | translate }}
    }
  </mat-slide-toggle>
</p>
<p class="settings-element">
  <mat-form-field appearance="outline" class="settings-date-time-input">
    <mat-label>{{ 'bk.admin.panel.settings.startDateTime' | translate }}</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="registrationStartDateInput"
           placeholder="{{ 'datePicker.formatHint' | translate }}" required>
  </mat-form-field>
  <button mat-raised-button color="primary" class="settings-update-button"
          *ngIf="isOriginalRegStartDateDifferentAsInput()" (click)="openConfirmRegistrationStartDateDialog()">
    {{ 'bk.admin.panel.tab.header.settings.update' | translate }}
  </button>
</p>
