<app-statue>

  <mat-card-title>
    <h1><b>{{ 'bk.statue.adultHeader' | translate }}</b></h1>
    <h3 class="registration-dates">{{ 'registration.dateName' | translate }} {{ 'registration.date' | translate }}</h3>
  </mat-card-title>

  <mat-card-content>

    <p class="statement">
      {{ 'bk.statue.adult.statement1' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement2' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement3' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement4' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement5' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement6' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement7' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement8' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement9' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement10' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement11' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement12' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement13' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement14' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement15' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement16' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement17' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement18' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement19' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement20' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement21' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement22' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement23' | translate }}
    </p>
    <p class="statement">
      {{ 'bk.statue.adult.statement24' | translate }}
    </p>

  </mat-card-content>

</app-statue>
