<div id="videoContainer" class="bottom-shadow">
  <img id="largeVideo" class="myVideo" src="assets/video/video_16x9_8MB.gif" alt="Loading">
  <img id="smallVideo" class="myVideo" src="assets/video/video_4x3_2MB.gif" alt="Loading">

  <div id="videoOverlay"></div>
  <div id="videoOverlayConferenceIcon">
    <img class="conference-logo conference-logo-size" src="assets/icon/graphic/logo_glitch.png" alt="BK_Logo">
  </div>
  <div id="videoOverlayText" class="videoOverlayText-margin">
    <div class="progress-graphic">
      <img class="progress-graphic-size" id="graphicProgress" src="assets/icon/graphic/progress_black.png" alt="ProGres">
    </div>
    <div class="bottom-progress-graphic">
      <button mat-raised-button color="warn" class="registration-button registration-button-visibility" (click)="scrollToRegistrationBoth()">
        {{ 'bk.video.registerNow' | translate }}
      </button>
    </div>
  </div>
  <div id="videoOverlayConferenceInfo">
    <img class="conference-info conference-info-size" src="assets/icon/graphic/data.png" alt="conferenceInfo">
  </div>
  <div id="rightColorImageContainer">
    <img class="right-color-image right-color-image-size" id="colorImage" src="assets/icon/graphic/kolorsss.png" alt="colorImage">
  </div>
</div>
