<div #whatBKIsId>
  <h1 class="margin-between-elements padding-between-elements">{{ 'bk.whatIsBkConf.title' | translate }}</h1>
  <div class="rectangle-what-is-bk-container dynamic-size-of-container margin-between-elements">
    <div class="rectangle-what-is-bk dynamic-size-of-rectangle bk-border-element primary">
      <div class="rectangle-text">
        {{ 'bk.whatIsBkConf.textPart1' | translate }}<br/><br/>
        {{ 'bk.whatIsBkConf.textPart2' | translate }}
      </div>
    </div>
    <div class="rectangle-what-is-bk dynamic-size-of-rectangle bk-border-element shadow"></div>
  </div>
</div>
